<ul class="topnav">
  <li>
    <a ui-sref="messages">Messages <i class="fa fa-commenting" aria-hidden="true"></i></a>
  </li>
  <li class="dropdown">
    <a ui-sref="items">Rentals <i class="fa fa-check-square-o" aria-hidden="true"></i></a>
      <div class="dropdown-content">
        <a id="downMenu" ui-sref="items">Post Gear</a>
        <a id="downMenu" ui-sref="items">Current Rentals</a>
      </div>
  </li>
  <li class="dropdown">
    <a ui-sref="profile" class="dropbtn">Profile <i class="fa fa-user" aria-hidden="true"></i></a>
      <div class="dropdown-content">
        <a id="downMenu" ui-sref="profile">Edit Info</a>
        <a id="downMenu" ui-sref="profile">Payment</a>
        <a id="downMenu" ui-sref="postForm">Post Gear</a>
        <a id="downMenu" ui-sref="items">Rentals</a>
        <a id="downMenu" ui-sref="profile">Reviews</a>
        <a id="downMenu" ng-click="logout()" ui-sref="login">Log Out</a>
      </div>

</ul>
