<body>
  <div class="listed-item">
    <img class="pic"
     src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRoKWWTvB_sn8lNW_lsIKy_q4_t7c_yadxvZoUffbOBYShABnG1">
    <i class="fa fa-plus"></i>
    <p class="listed-item_title">Two Person Tent</p>
    <p class="listed-item_price">$30</p>
  </div>

  <div class="listed-item">
    <img class="pic" src="http://www.dickssportinggoods.com/graphics/product_images/pDSP1-22165273v750.jpg">
    <i class="fa fa-plus"></i>
    <p class="listed-item_title">Women's Ice Skates</p>
    <p class="listed-item_price">$20</p>
  </div>

  <div class="listed-item">
    <img class="pic" src="http://www.bikes.com/sites/default/files/models/Pipeline_770-MSL.jpg">
    <i class="fa fa-plus"></i>
    <p class="listed-item_title">Mountain Bike</p>
    <p class="listed-item_price">$70</p>
  </div>
</body>
