<nav-dir></nav-dir>
<div id="postContainer" ng-init="getCurrentUser()">
    <form class="postForm" ng-repeat="userItem in currentUser.items">
      <div>
        <h4> Current Available Listing:</h4>
        <p>
        <label>Gear Name: {{userItem.name}}</label>
       <input ng-show="editItemButton" ng-model="userItem.name" placeholder="Gear Name">
        </p>
        <p>
        <label>Rental Price: {{userItem.cost}}</label>
				<input ng-show="editItemButton" ng-model="userItem.cost" placeholder="Rental Price">
      </p>
      <p>
        <label>Gear Description: {{userItem.desc}}</label>
				<input ng-show="editItemButton" ng-model="userItem.desc" placeholder="Gear Description">
      </p>
      <p>
        <label>Keyword Tags: {{userItem.tags}}</label>
				<input ng-show="editItemButton" ng-model="userItem.tags" placeholder="Keyword Tags">
      </p>
      <p>
        <label>Item Location: {{userItem.location}}</label>
        <input ng-show="editItemButton" ng-model="userItem.tags" placeholder="City, State, Zip Code">
      </p>
      <p>
      </p>

				<button ng-hide="editItemButton" ng-click="editItemButton = true"> Edit Item </button>
 				<button ng-show="editItemButton" ng-click="updateTheItem(userItem); editItemButton = false"> Save Changes</button>
  			<button ng-click="deleteItem(userItem)"> Delete Item</button>
        <button ng-hide="editItemButton" ng-click="rentItem(userItem)"> Contact Rentee</button>
		</div>
  </form>
</div>
