<img class="logo" src="logo2.png" />
<div id="container">
    <form class="loginForm" ng-submit="postNewUser(user)">
        <div>
            <h4> Login Below:</h4>
            <p>
                <label>Email:</label>
                <input type="email" class="email" ng-model="user.email" placeholder="Email">
            </p>
            <p>
                <label>Password: </label>
                <input type="password" class="password" ng-model="user.password" placeholder="Password">
            </p>
            <p><small>If you do not have an account please follow the steps below to join the Gear Share Community.</small></p>
            <input type="submit">
        </div>
    </form>

    <form class="createForm" ng-submit="postNewUser(newUser)">
        <div>
            <h4> Create New Account Below:</h4>
            <p>
                <label>First Name:</label>
                <input type="text" class="firstName" ng-model="newUser.firstName" placeholder="First Name">
            </p>
            <p>
                <label>Last Name:</label>
                <input type="text" class="lastName" ng-model="newUser.lastName" placeholder="Last Name">
            </p>
            <p>
                <label>Email:</label>
                <input type="text" class="email" ng-model="newUser.email" placeholder="Email">
            </p>
            <p>
                <label>Password:</label>
                <input type="text" class="password" ng-model="newUser.password" placeholder="Password">
            </p>
            <p><small> If you already have an account please login to the Gear Share Community above.</small></p>
            <input type="submit">
        </div>
    </form>
</div>
