<img src="title.png"/>

<header>
  <nav role="navigation">
    <ul>
      <li>
        <a ui-sref="home">
          <div>
            Home
          </div>
        </a>
      </li>
        <div class="search">
    <input class="searchBox" type="search" ng-model="list" placeholder="search gear..." />
        </div>
            <li>
        <a ui-sref="messages">
          <div>
            Messages
          </div>
        </a>
      </li>
      <li>
        <a ui-sref="items">
          <div class="rentals">
            Rentals
          </div>
        </a><div>
          <ul>
            <li><a ui-sref="postForm">Post Gear</a></li>
            <li><a ui-sref="items">Current Listings</a></li>
            <li><a ui-sref="items">Current Rentals</a></li>
          </ul>
        </div>
      </li>

      <li>
        <a ui-sref="profile">
          <div class="profile">
            Profile
            <!-- <i class="fa fa-user" aria-hidden="true"></i> -->
          </div>
        </a><div>
          <ul>
            <li><a ui-sref="profile">Edit Info</a></li>
            <!-- <li><a ui-sref="profile">Payment</a></li> -->
            <!-- <li><a ui-sref="postForm">Post Gear</a></li> -->
            <!-- <li><a ui-sref="items">Rentals</a></li> -->
            <li><a ui-sref="profile">Reviews</a></li>
            <li><a ng-click="logout()" ui-sref="login">Log Out</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </nav>
</header>
