<nav-dir></nav-dir>
<div id="postContainer">
    <form class="postForm" ng-submit="postNewItem(newItem)">
      <div>
        <h4> Post Your Gear Below:</h4>
        <p>
        <label>Gear Name:</label>
        <input type="text" class="itemName" ng-model="newItem.name" placeholder="Gear Name">
        </p>
        <p>
        <label>Rental Price:</label>
        <input type="text" class="itemPrice" ng-model="newItem.cost" placeholder="Rental Price">
        </p>
      <p>
        <label>Gear Description:</label>
        <input type="text" class="itemDesc" ng-model="newItem.desc" placeholder="Gear Description">
      </p>
      <p>
        <label>Item Location:</label>
        <input type="text" ng-model="newItem.location" placeholder="City, State, Zip Code">
      </p>
      <p>
        <label>Keyword Tags: </label>
        <input type="text" class="itemTags" ng-model="newItem.tags" placeholder="Keyword Tags">
      </p>
      <p>
        <small>* please seperate each tag seperated with a comma
          (i.e winter, skis, bike, fishing)</small>
      </p>
        <!-- <h4>Upload Image</h4>

        <input type="file" class="imgUpload" ngf-select ng-model="newItem.img" name="file" accept="image/*" ngf-max-size="2MB" ngf-model-invalid="errorFile">
        <i ng-show="myForm.file.$error.maxSize">File too large
              {{errorFile.size / 1000000|number:1}}MB: max 2M</i>
        <img id="picthing" ng-show="myForm.file.$valid" ngf-thumbnail="newItem.img" class="thumb"> <button ng-click="newItem.img = null" ng-show="newItem.img">Remove</button>
        <br>
        <button ng-click="uploadPic(newItem.img)">Upload Image</button>
        <span class="progress" ng-show="newItem.img.progress >= 0">
            <div style="width:{{newItem.img.progress}}%" ng-bind="newItem.img.progress + '%'"></div>
        </span> -->
        <input type="submit"/>
</div>
  </form>
</div>
