<nav-dir></nav-dir>
<div id="splitContainer">
  <div id="left">
<div id="postedContainer">
  <form class="postForm">
    <div>
    <h2>Welcome, </h2>
     <h2>{{currentUser.firstName}} {{currentUser.lastName}}</h2>
      <br>
      <label> First Name:</label>
      <input ng-hide="editUserButton" id="editItemInput" type="text" placeholder="{{currentUser.firstName}}">

    <input ng-show="editUserButton" ng-model="currentUser.firstName" placeholder="First Name">
      <br>
      <label> Last Name: </label>
      <input ng-hide="editUserButton" id="editItemInput" type="text" placeholder="{{currentUser.lastName}}">

      <input ng-show="editUserButton" ng-model="currentUser.lastName" placeholder="Last Name">
      <br>
      <label> Email:</label>
      <input ng-hide="editUserButton" id="editItemInput" type="text" placeholder="{{currentUser.email}}">

      <input ng-show="editUserButton" ng-model="currentUser.email" placeholder="Email">
      <br>
      <label ng-show="editUserButton"> New Password:</label>
      <input ng-show="editUserButton" ng-model="currentUser.newPassword" placeholder="Change Here">
      <br>

      <button ng-hide="editUserButton" ng-click="editUserButton = true">Edit Your Info</button>
      <button ng-show="editUserButton" ng-click="updateTheUser(currentUser); editUserButton = false"> Save Changes</button>
      <button ng-click="deleteUser(currentUser)">Delete Account</button>
    </div>
  </form>
</div>
</div>
<div id="right">
  <div id="postedContainer">
    <form class="postForm">
    <div>
      <h2>Payment Info: </h2>
      <br>
      <label> Name On Card: </label>
          </div>
        </form>
      </div>
    </div>
</div>
