<nav-dir></nav-dir>
<br>
<br>
<br>
<br>
<br>
<h1>Gear You Are Renting: </h1>
<div class="box3">
    <div class="listingsContainer" ng-repeat="rentedItem in currentUser.itemsRented">
        <div class="listedItem">
            <div class="itemPicture">
                <img class="noImage" src="noImage2.png">
            </div>
            <br>
            <div class="boxItemName">
                <h4>{{rentedItem.name}} </h4>
            </div>
            <br>
            <div class="boxItemCost">
                <h4> ${{rentedItem.cost}} / Day</h4>
            </div>
            <div class="boxItemDesc">
                <p> {{rentedItem.desc}}</p>
            </div>
            <button ng-click="updateReturns(rentedItem)">+ Return</button>
            <button>+ More Info</button>
        </div>
    </div>
</div>
</div>
