body {
  margin: 0;
  /*background-color: #FFBD2B;*/
  /*opacity: 0.9px;*/
}

footer {
  display: flex;
  justify-content: center;
}

/*below is for home page layout*/
.homeContainer{
display: flex;
flex-wrap: wrap;
flex-direction: row;
align-items: center;
align-content: space-between;
justify-content: center;
}

.box {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 80%;
  margin: 5%;
}

.box2 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  height: 400px;
  /*margin: 5%;*/
  background-color: #F4F4F4;
}

.tripleBox {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 30%;
  margin: auto;
  margin-top: 7%;
  margin-bottom: 7%;
  align-items: center;
  align-content: space-between;
  justify-content: center;
  text-align: center;
}

.tripleBox > h2 {
  color:#484F59;
}

.tripleBox > h4 {
  color: #A1A1A1;
}

.fa {
  color: #4A4E59;
}

.box > h1 {
   width: 100%;
   text-align: center;
   border-bottom: 3px solid #40C3BD;
   line-height: 0.1em;
   margin: 10px 0 20px;
}

h1 span {
    background:#fff;
    padding:40px;
    color: #FFBB4D;
}


.cabinPic {
  display: flex;;
  width: 96%;
  margin: auto;
  padding-top: 2%;
}

/*above is for home page layout*/

#editItemInput {
  border: none;
}

/*below is for profile layout*/

#splitContainer {
  display: flex;
  flex-flow: row;
  justify-content: center;
}

#left {
  display: block;
}

#right {
  display: block;
}

/*above if for profile layout*/
/*below is the login front page styles*/

.logo {
  display: flex;
  width: 60%;
  margin: auto;
}

* {
  box-sizing: border-box;
}

/* 1- positionning the 2 divs */
form {
	display: flex;
}
form > div {
	flex: 1;
	min-width: 0; /* fix for min-width: auto */
}
form > div + div {
	margin-left: 1em;
}

/* 2- fluid inputs */
div > p {
	display: flex;
}
form input:not([type=submit]) {
	flex: 1; /* fluid width */
	display: block; /* IE fix */
	min-width: 0; /* fix for min-width: auto */
}

/* 3- fluid textarea */
div + div {
	display: flex;
	flex-direction: row;
}
textarea {
	flex: 1; /* fluid height */
	display: block; /* IE fix */
}


/* Decoration */

.loginForm {
margin-bottom: 50px;
}

#container {
  /*display: flex;
  flex-direction: row;*/
	max-width: 400px;
	margin: auto;
	padding: 1em;
	/*background:rgba(0,0,0,.1);*/
	color: #333;
	font-size: 1.4em;
	font-family: georgia, "trebuchet ms", arial, serif;
}

#postContainer {
  /*display: flex;
  flex-direction: row;*/
	max-width: 600px;
	margin: auto;
	padding: 1em;
	/*background:rgba(0,0,0,.1);*/
	color: #333;
	font-size: 1.4em;
	font-family: georgia, "trebuchet ms", arial, serif;
}

#postedContainer {
  /*display: flex;
  flex-direction: row;*/
	max-width: 450px;
	margin: auto;
	padding: 1em;
	/*background:rgba(0,0,0,.1);*/
	color: #333;
	font-size: 1.2em;
	font-family: georgia, "trebuchet ms", arial, serif;
}


h4 {
	margin-top: 20px;
	margin-bottom: 40px;
	color: #345;
	text-shadow: 1px 1px 1px #fff;
  font-size: 0.8em;
  margin: auto;
}

form > div {
	padding: 1em;
	background: #fff;
	border: 1px solid gray;
	border-radius: 4px;

}
input,
textarea, button {
	padding: .2em;
	border: 1px solid #555;
	border-radius: 4px;
	font-family: inherit;
	font-size: inherit;
  background: rgba(0,0,0,.02);
  border: 2px solid #40C3BD;

}
input:focus,
textarea:focus {
	outline: none;
}
input[type="submit"], button {
	padding: .3em 1em;
	background: #00BFC6;
	border: none;
	color: #fff;
	border-radius: 4px;
	cursor: pointer;
}

label {
	width: 5em;
	margin-right: .5em;
	text-align: right;
}

input[type="submit"], button {
	margin-left: auto;
}
div:first-child p:first-child {
	justify-content: flex-end;
}
textarea {
	resize: vertical;
	color: #aaa;
}
div > p:first-child {margin-top: 0;}
div > p:last-child {margin-bottom: 0;}
small {
	font-size: 0.8rem;
	color: #aaa;
}

/* small screens */
@media (max-width: 600px) {
	form {
		flex-direction: row;
	}
	form p {
		display: block;
	}
	label {
		display: block;
		width: auto;
		text-align: left;
	}
	form > div {
		width: auto;
	}
	form > div + div {
		margin-left: 0;
		margin-bottom: 1em;
		order: -1;
	}
	input {
		width : 100%
	}
}


/*above is the login in front page and all other forms styles*/

/*below is the new navigation styles*/

body { background: #fff;color: #222;-webkit-font-smoothing: antialiased;font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size: 1.05em;font-weight: 400;height: auto !important;height: 100%;line-height: 1.6rem;min-height: 100%; flex-direction: column;}

/*#fixedNav {
  background-color: white;
  position: fixed;
  display: block;
  width: 100%;
  z-index: 1000;
}*/

header {
		background: #40C3BD;
		border-bottom: 3px solid #3AB0AB;
		box-shadow: 0 1px 1px 0 #3AB0AB;
		display:block;
		/*position: fixed;*/
		width: 100%;
		z-index: 1000;
	}

.search{
  flex:1;
}

img{
display: flex;
width: 60%;
margin: auto;
}

.searchBox {
	padding: 1.2em;
	border: 4px solid #40C3BD;
	border-radius: 10px;
	font-family: inherit;
	font-size: inherit;
  background: white;
}

input:focus,
textarea:focus {
	outline: none;
}

	header > nav > ul {
		display: flex;
		flex-wrap: wrap;
		justify-content:center;
		list-style: none;
		margin: 0;
		padding: 0;
	}

		header > nav > ul > li {
			flex: 0 1 auto;
			margin: 0;
			padding: 0;
			position: relative;
			transition: all linear 0.1s;
		}

			header > nav > ul > li:hover {
				background: #3aa2ad;
        padding-right: 3em;

			}

			header > nav > ul > li a + div {
				background: #3aa2ad;
        border-radius: 0 0 2px 15px;
				box-shadow: 0 3px 1px rgba(0,0,0,.05);
				display: none;
				font-size: 1rem;
				position: absolute;
				width: 195px;
			}

				header > nav > ul > li:hover a + div {
					display: block;
				}

				header > nav > ul > li a + div > ul {
					list-style-type: none;
				}

					header > nav > ul > li a + div > ul > li {
						margin: 0;
						padding: 0;
					}

						header > nav > ul > li a + div > ul > li > a {
							color: white;
							display: block;
							font-size: .75rem;
							letter-spacing: 1.5px;
							padding: .25rem 1.5rem;
							text-decoration: none;
							text-transform: uppercase;
						}

							header > nav > ul > li a + div > ul > li:hover > a {
								background-color: rgba(0,0,0,.15);
							}

			header > nav > ul > li > a {
				align-items: flex-start;
				color: #fff;
				display: flex;
				font-size: 1.55rem;
				font-weight: 200;
				letter-spacing: 1px;
				max-width: 130px;
				padding: 1rem 1.5rem;
				text-decoration: none;
				text-shadow: 0 1px 1px rgba(0,0,0,.1);
				transition: all linear 0.1s;
			}

@media (min-width: 990px) {
  header > nav > ul > li > a {
    max-width: 500px;
    font-size: 1.7rem;
	  line-height: 0.8rem;
  };


/*above is the new navigation styles*/

/*below is the styling for the user profile page*/

.profileContainer {
	padding: 20px 0;
}

.splitWrap {
	display: flex;
}

.column {
	padding: 10px;
}
/*
.column:nth-of-type(odd) {
	background: lightyellow;
}*/

.column:nth-of-type(even) {
	background: lightgrey;
}

.splitProfile {
	justify-content: space-around;
	flex-wrap: wrap;
}

.profile {
	width: 48%;
	margin-bottom: 2%;
}

.userItems {
  display: flex;
  padding: 20px;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 48%;
  margin-bottom: 2%;
}

/*above is the styling for the user profile page*/
